.pageStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: Georgia;
}

header {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Georgia;
  background-color: pink;
  height: 100px;
}

h2 {
  font-size: 30px;
}

.studentCard {
  justify-content: right;
  border: 1px solid black;
  width: 50vw;
}

.CohortList {
  justify-content: left;
  width: 50vw;
  font-size: 20px;
  border: 1px solid black;
}

.img {
  height: 100px;
  width: 100px;
}

.container {
  display: flex;
  justify-content: space-apart;
}

.feedContainer {
  border: 1px solid black;
}

.cohortCard {
  border-bottom: 1px solid black;
  padding: 1vh;
}
