.pageStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}


h1,h2,h3,h4,p,span {
  font-family: Georgia;
}


header {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Georgia;
  background-color: pink;
  height: 100px;
}

h2 {
  font-size: 30px;
}

.studentCard {
  justify-content: right;

}

.CohortList {
  justify-content: left;
  width: 50vw;
  font-size: 20px;
  border: 5px solid red;
}

.img {
  height: 100px;
  width: 100px;
}

.studentDetail {

}

.container {
  display: flex;
  justify-content: space-apart;
  border: 1px solid green;
  
}

.feedContainer {
  border: 1px solid red;

}

.cohortCard {
  border-bottom: 1px solid black;
  padding: 1vh;
}